/* ----------- GLOBALES ----------- */
:root {
  --fuente: 'Nunito Sans', sans-serif;

  --oscuro: #171010;
  --claro: #ededed;
  --naranja-fuerte: #fca620;
  --naranja-medio: #fdd36d;
  --naranja-suave: #ffffba;
}

/* ----------- Básicos ----------- */

